@use "./variables" as *;

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin section-title {
  font-family: $Playfair-family;
  padding-bottom: 0.8rem;
  font-size: 2rem;
}

@mixin svg-link {
  width: 1.5rem;
  transition: transform 0.5s ease;
}
