@use "./fonts" as *;
@use "./variables" as *;
@use "./mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-color;
  color: $text-color;
  font-family: $Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  background-color: $header-nav-bg;
  font-family: $Playfair-family;
  padding: 2.5rem $mob-hor-pad 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  @include tablet {
    padding-top: 4rem;
    padding-bottom: 1.5rem;
  }

  &__flex {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__img {
    width: 280px;
    height: auto;
    border-radius: 50%;
    align-self: center;
  }

  &__title {
    font-size: 2.25rem;
    text-align: center;
  }

  &__dev-name {
    font-size: 2.5rem;
    font-weight: $bold;
    align-self: center;
  }

  &__nav {
    padding-top: 2.5rem;
  }
}

.navbar {
  position: sticky;
  top: 0;
  padding: 1.5rem $mob-hor-pad 1rem;
  background-color: $header-nav-bg;
  border-bottom: 0.5px solid #d7d7d7;
  @include tablet {
    padding-left: $tab-hor-pad;
    padding-right: $tab-hor-pad;
  }
}

.nav_list {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  @include tablet {
    gap: 2.25rem;
  }

  &--left-item {
    @include tablet {
      margin-left: auto;
    }
  }

  &__link {
    font-size: 1.125rem;
    @include tablet {
      font-size: 1.5rem;
    }

    &:hover {
      color: $link-hover;
      border-bottom: 1.5px solid $link-hover;
      text-shadow: $link-hover-shadow;
    }
  }
}

.main {
  padding: 0 $mob-hor-pad;
  @include tablet {
    padding: 0 $tab-hor-pad;
  }

  &__section {
    padding-top: $sect-pad-top;
  }

  &__section-title {
    @include section-title;
  }

  &__section-text {
    line-height: $p-height;
    font-size: 1.125rem;
  }
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2.5rem;
}

.project_card {
  box-shadow: 0px 0px 7px 2px #fff;
  &__img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 1rem;
  }

  &__title {
    font-family: $Playfair;
  }

  &__link {
    &--left {
      margin-left: auto;
    }
  }

  &__svg {
    @include svg-link;

    &:hover {
      transform: $svg-rot;
    }
  }

  &__description {
    line-height: $p-height;
    padding: 0 1rem 1rem;
    font-size: 1.125rem;
  }
}

.footer {
  padding: $sect-pad-top $mob-hor-pad 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  @include tablet {
    padding-left: $tab-hor-pad;
    padding-right: $tab-hor-pad;
  }

  &__title {
    @include section-title;
  }

  &__flex-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @include tablet {
      flex-direction: row;
    }
  }

  &__text {
    font-size: 1.125rem;
    line-height: $p-height;
    &--no-full-screen {
      max-width: 25rem;
    }
    &--pad-bottom {
      padding-bottom: 1.5rem;
    }
  }

  &__social-flex {
    display: flex;
    gap: 0.75rem;
  }

  &__svg {
    @include svg-link;
    width: 2.5rem;

    &:hover {
      transform: $svg-rot;
    }
  }

  &__link {
    font-weight: $bold;
    text-decoration: underline;
    &:hover {
      text-shadow: $link-hover-shadow;
    }
  }
}
