@font-face {
  font-family: "PlayfairDisplay";
  src: url("../assets/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../assets/fonts/PlayfairDisplay-Medium.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../assets/fonts/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #151515;
  color: #fdfedc;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  background-color: #3d3d3d;
  font-family: "PlayfairDisplay", "Courier New", Courier, monospace;
  padding: 2.5rem 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
@media (min-width: 768px) {
  .header {
    padding: 4rem 3.25rem 1.5rem;
  }
}
@media (min-width: 1280px) {
  .header {
    min-height: 100vh;
  }
}
.header__content-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 68.75rem;
  margin: 0 auto;
}
.header__img {
  width: 17.5rem;
  height: auto;
  border-radius: 50%;
  align-self: center;
}
@media (min-width: 768px) {
  .header__img {
    width: 20rem;
  }
}
.header__title {
  font-size: 2.25rem;
  text-align: center;
}
@media (min-width: 768px) {
  .header__title {
    font-size: 3.75rem;
  }
}
.header__dev-name {
  font-size: 2.5rem;
  font-weight: 700;
  align-self: center;
}
@media (min-width: 768px) {
  .header__dev-name {
    font-size: 4rem;
  }
}
.header__nav {
  padding-top: 2.5rem;
}

.navbar {
  position: sticky;
  top: 0;
  padding: 1.5rem 1rem 1rem;
  background-color: #3d3d3d;
  border-bottom: 0.5px solid #d7d7d7;
}
@media (min-width: 768px) {
  .navbar {
    padding-left: 3.25rem;
    padding-right: 3.25rem;
  }
}

.nav_list {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  max-width: 68.75rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .nav_list {
    gap: 2.25rem;
  }
}
@media (min-width: 768px) {
  .nav_list--left-item {
    margin-left: auto;
  }
}
.nav_list__link {
  font-size: 1.125rem;
}
@media (min-width: 768px) {
  .nav_list__link {
    font-size: 1.5rem;
  }
}
.nav_list__link:hover {
  color: #fefef2;
  border-bottom: 1.5px solid #fefef2;
  text-shadow: 0px 0px 5px;
}

.main {
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .main {
    padding: 0 3.25rem;
  }
}
@media (min-width: 1280px) {
  .main {
    max-width: 68.75rem;
    margin: 0 auto;
  }
}
.main__section {
  padding-top: 3.6rem;
}
.main__section-title {
  font-family: "PlayfairDisplay", "Courier New", Courier, monospace;
  padding-bottom: 0.8rem;
  font-size: 2rem;
}
.main__section-text {
  line-height: 1.5rem;
  font-size: 1.125rem;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2.5rem;
}

.project_card {
  box-shadow: 0px 0px 7px 2px #fff;
}
.project_card__img {
  width: 100%;
  height: 12.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.project_card__title-wrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem;
}
.project_card__title {
  font-family: "PlayfairDisplay";
  font-size: 1.375rem;
}
.project_card__link--left {
  margin-left: auto;
}
.project_card__svg {
  width: 1.5rem;
  transition: transform 0.5s ease;
}
.project_card__svg:hover {
  transform: rotate(360deg);
}
.project_card__description {
  line-height: 1.5rem;
  padding: 0 1rem 1rem;
  font-size: 1.125rem;
}

.footer {
  padding: 3.6rem 1rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .footer {
    padding-left: 3.25rem;
    padding-right: 3.25rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    max-width: 68.75rem;
    margin: 0 auto;
  }
}
.footer__title {
  font-family: "PlayfairDisplay", "Courier New", Courier, monospace;
  padding-bottom: 0.8rem;
  font-size: 2rem;
}
.footer__flex-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .footer__flex-container {
    flex-direction: row;
  }
}
.footer__text {
  font-size: 1.125rem;
  line-height: 1.5rem;
}
.footer__text--no-full-screen {
  max-width: 25rem;
}
.footer__text--pad-bottom {
  padding-bottom: 1.5rem;
}
.footer__social-flex {
  display: flex;
  gap: 0.75rem;
}
.footer__svg {
  width: 1.5rem;
  transition: transform 0.5s ease;
  width: 2.5rem;
}
.footer__svg:hover {
  transform: rotate(360deg);
}
.footer__link {
  font-weight: 700;
  text-decoration: underline;
}
.footer__link:hover {
  text-shadow: 0px 0px 5px;
}/*# sourceMappingURL=style.css.map */